*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    color: #777;
    font-family: 'Montserrat', sans-serif;
}

/* UTILS */


.text-right
{
    text-align: right;
}
.text-center
{
    text-align: center;
}


.mega-container
{
    height: calc(100vh - 50px);
    background-color: #141922;
    display: flex;

}

h2, h5, h6
{
    color: white;
}

a
{
    color: #777;
    text-decoration: none;
}


/* MAIN */

/* SIDE BAR */
#side-bar
{
    width: 100px;
    background-color: #000;
}

/* LOGO */
#logo
{
    padding: 15px;
}
#logo .logo-big
{
    display: none;
    width: 200px;
}
#logo .logo-small img
{
    width: 30px;
}

/* SIDE-NAV */
.navigation
{
    padding: 5px;
}
.navigation li
{
    list-style-type: none;
}
.navigation li:hover
{
    color: #fff;
}

.navigation .top-nav
{
    padding: 10px;
}
.navigation .top-nav .nav-text
{
    display: none;
    height: 100%;
    font-size: 0.8em;
    line-height: 30px;
    vertical-align: middle;
}
#side-bar .nav-text:hover a
{
    color: #fff;
}
.navigation .top-nav img
{
    width: 30px;
    vertical-align: middle;
}

.playlist-nav .fas
{
    font-size:1.5em ;
}

.navigation .playlist-nav
{
    padding: 10px;
    display: none;
}

.navigation .playlist-nav li
{
    padding: 10px 0;
}


/* MAIN CONTENT */
#main-content
{
    flex-grow: 1;
    overflow-y: auto;
;
}
#main-content .topbar
{
    height: 70px;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
}

/* TOPBAR */
.topbar .btn
{
    position: relative;
    right: 10px;
    top: 25px;

}
.topbar .btn:hover
{
    transform: scale(1.2);
    position: relative;
    right: 100px;

}
.topbar .btn a
{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 0.8em;
}

/* CONTENT */

#main-content
{
    padding-top: 70px;
}

#main-content nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#main-content nav ul li
{
    list-style-type: none;
    font-size: 0.7em;
    padding: 10px;
    color: #777;
}
#main-content nav ul li:hover
{
    color: #fff;
    cursor: pointer;
}
#main-content section h2,
#main-content section .section-text
{
    padding: 15px;
}
#main-content .album-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}
#main-content .album-container .album
{
    flex-basis: 50%;
    position: relative;
    cursor: pointer;
}

#main-content .album-container .album .player-hover .fas
{

    display: none;
}
#main-content .album-container .album:hover .fas 
{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4em;
}

#main-content .album-container .album-img
{
    max-width: 100%;
    padding: 10px;
    min-width: 100%;

}


#main-content .artist-container 
{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
padding: 10px;
}

#main-content .artist
{
    padding: 10px;
    flex-basis: 50%;
    cursor: pointer;
}

#main-content .artist-container .artist-img
{
    max-width: 100%;
    border-radius: 50%;
}

/* FOOTER */
footer
{
    height: 50px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    padding: 5px;
}

footer .row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
footer .row > .col
{
    flex-shrink: 1;
}
footer .row .col
{
    display: flex;
    justify-content: center;
    align-items: center ;
}
footer .row > .col:nth-child(2)
{
    flex-grow: 1;
    flex-direction: column;
}
footer img
{
    width: 30px;
}

footer .song-info
{
    height: 100%;
    display: flex;
    align-items: center;
}
footer .song-text
{
    height: 100%;
    line-height: 100%;
    font-size: 0.8em;
    padding: 5px;
}

footer 
footer .song-time
{
    font-size: 0.7em;
}


footer .song-cmd
{
    display: inline-block;
    text-align: right;
}

footer .player-cmd
{
    color: #fff;
}
footer .player-cmd *{
    font-size: 1.3em;
}
footer .player-cmd *:hover
{
    transform: scale(1.2);
}
footer .song-bar
{
    height: 2px;
    width: 150px;
    background-color: #555;
    position: relative;
}
footer .song-bar::before
{
    content: "";
    height: 2px;
    width: 20%;
    background-color: #fff;
    position: absolute;
}
footer .volume-cmd .fas
{
    padding: 5px;
}
footer .volume-cmd{
    position: relative;
}
footer .volume-bar
{
    height: 2px;
    width: 40px;
    background-color: #555;
    position: relative;
}
footer .volume-bar::before
{
    content: "";
    height: 2px;
    width: 20%;
    background-color: #fff;
    position: absolute;
}

footer .volume-bar::after
{
    content: '';
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: #fff;
}




@media screen and (min-width: 576px)
{
    #side-bar
    {
        width: 230px;
        background-color: #000;
    }

    #main-content .topbar
    {
        height: 70px;
        width: calc(100% - 230px);
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        right: 0;
    }

    
    #logo .logo-big
    {
        display: block;
    }
    #logo .logo-small
    {
        display: none;
    }


    .navigation .top-nav .nav-text
    {
        display: inline-block;
    }

    .navigation .playlist-nav
    {
        padding: 10px;
        display: block;
    }

    #main-content .album-container .album
    {
        flex-basis: 25%;
    }

    #main-content .artist
    {
        padding: 10px;
        flex-basis: 25%;
    }

}
@media screen and (min-width: 768px)
{
    #logo .logo-big
    {
        display: block;
    }
    #logo .logo-small
    {
        display: none;
    }


    .navigation .top-nav .nav-text
    {
        display: inline-block;
    }

    .navigation .playlist-nav
    {
        padding: 10px;
        display: block;
    }

    #main-content .album-container .album
    {
        flex-basis: 25%;
    }

    #main-content .artist
    {
        padding: 10px;
        flex-basis: 25%;
    }

}

@media screen and (min-width: 1180px)
{
    #main-content .album-container .album
    {
        flex-basis: calc(100% / 6);
    }

    #main-content .artist
    {
        padding: 10px;
        flex-basis: (100% / 6);
    }
}